<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Delete User</title>

    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
<!-- Header -->
<div th:replace="~{admin/layout/header :: header}"></div>

<!-- Include notification fragment so toasts are available on this page -->
<div th:replace="~{admin/layout/notification :: notification}"></div>

<div id="layoutSidenav">
    <!-- Sidebar -->
    <div th:replace="~{admin/layout/sidebar :: sidebar}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Manage Users</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>

                <div class="mt-5">
                    <div class="row">
                        <div class="col-12 mx-auto">
                            <div class="d-flex justify-content-between">
                                <h3 th:text="'Delete the user with id = ' + ${id}">Delete the user with id = </h3>
                            </div>

                            <hr/>
                            <div class="alert alert-danger">
                                Are you sure to delete this user ?
                            </div>

                            <form th:action="@{/admin/user/delete}"  method="post">
                                <!-- Hidden Id -->
                                <div class="mb-3" style="display:none;">
                                    <label class="form-label">Id:</label>
                                    <input type="text" class="form-control" name="id" th:value="${id}"/>
                                </div>
                                <button class="btn btn-danger" type="submit">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <!-- Footer -->
        <div th:replace="~{admin/layout/footer :: footer}"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
